/* ----- GENERICS ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    width: 83%;
    margin: 0 auto;
}


/* ----- UTILITY ----- */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.box {
    border-radius: 10px;
}


/* ----- CONTENT ----- */

header {
    background-color: rgb(0 132 253);
    padding: 16px 0;
    margin-bottom: 30px;
}

#menu-header {
    color: white;
    font-size: 1.5rem;
    padding-top: 10px;
}

/*---------------------*/
#demo-application .box {
    background-color:
        rgb(181 221 255);
    margin-bottom: 20px;
}

/*-------------------*/
#strategic-planning {
    background-color:
        rgb(151 146 228);
}

#strategic-planning .box {
    background-color: white;
    margin-bottom: 25px;
}

/*--------------------*/
#testimonials .box {
    background-color:
        rgb(151 146 228);
}

/*----------------------*/
#benefits {
    background-color:
        rgb(151 146 228);
}

#benefits .box {
    background-color: white;
}

/*-------------------------*/

/*--------------------------*/
#get-started {
    background-color:
        rgb(151 146 228);
}

/* FOOTER */
footer {
    background-color: grey;
}

/* ----- DEBUG -----*/

.debug {
    height: 200px;
    background-color:
        rgba(0, 255, 255, 0.5);
    border: 1px dashed black;
    margin: 10px 0;
}

.box {
    border: 0;
}