/* ----- GENERICS ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


/* ----- UTILITY ----- */


/* ----- CONTENT ----- */


/* ----- DEBUG -----*/

.debug {
    height: 200px;
    background-color: aqua;
    border: 1px dashed black;
    max-width: 1200px;
    margin: 10px auto;
}

header .debug {
    background-color: blue;
}

footer .debug {
    background-color: grey;
}