/* ----- GENERICS ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


/* ----- UTILITY ----- */


/* ----- CONTENT ----- */


/* ----- DEBUG -----*/

.debug {
    height: 500px;
    background-color: aqua;
    border: 1px dashed black;
}